In [2]:
%load_ext autoreload
%autoreload 2
from recommend import load_model, recommend
import warnings
warnings.filterwarnings('ignore')
from collections import defaultdict
import pandas as pd
import numpy as np

In [3]:
try:
    model = load_model()
except ValueError:
    pass

WARNING:tensorflow:From ./src/chainRec.py:121: calling reduce_sum (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead
INFO:tensorflow:Restoring parameters from ./models/book-3stage.edgeOpt_stage.dim.128.lambda.0.01.lr.0.0001.model.ckpt

In [5]:
sample_size = 10
np.random.seed(333)

nolikes = defaultdict(lambda: {'random': 0, 'interested_only': 0, 'topic': 0})
scores = defaultdict(lambda: {'random': 0, 'interested_only': 0, 'topic': 0})
interested = defaultdict(lambda: {'random': 0, 'interested_only': 0, 'topic': 0})
relevances = defaultdict(lambda: {'random': 0, 'interested_only': 0, 'topic': 0})

user_ids = np.random.choice(range(45963), sample_size, replace=False)
for i, user_id in enumerate(user_ids):
    if i % 100 == 0:
        print(i, user_id)
    for method in ['random', 'interested_only', 'topic']:
        liked, notliked, i, score, relevance = recommend(model, user_id, k=10, mode=method, display=False)
        nolikes[user_id][method] = len(notliked)
        scores[user_id][method] = score
        interested[user_id][method] = i
        relevances[user_id][method] = relevance

0 38941

In [264]:
df = pd.DataFrame.from_dict(nolikes, 'index')
df.to_csv('results_demo/ranking_nolikes.csv', index=False)
df = pd.DataFrame.from_dict(scores, 'index')
df.to_csv('results_demo/ranking_scores.csv', index=False)
df = pd.DataFrame.from_dict(relevances, 'index')
df.to_csv('results_demo/ranking_relevances.csv', index=False)
df = pd.DataFrame.from_dict(interested, 'index')
df.to_csv('results_demo/ranking_interested.csv', index=False)

In [265]:
df = pd.read_csv('results/ranking_nolikes.csv')
df.describe()

            random  interested_only        topic
count  2000.000000      2000.000000  2000.000000
mean      4.195000         3.600500     3.611000
std       0.601794         0.860389     0.882649
min       3.000000         1.000000     1.000000
25%       4.000000         3.000000     3.000000
50%       4.000000         4.000000     4.000000
75%       5.000000         4.000000     4.000000
max       6.000000         6.000000     6.000000

In [266]:
df = pd.read_csv('results/ranking_interested.csv')
df.describe()

            random  interested_only   topic
count  2000.000000           2000.0  2000.0
mean      7.546000             10.0    10.0
std       0.863862              0.0     0.0
min       4.000000             10.0    10.0
25%       7.000000             10.0    10.0
50%       8.000000             10.0    10.0
75%       8.000000             10.0    10.0
max      10.000000             10.0    10.0

In [267]:
df = pd.read_csv('results/ranking_relevances.csv')
df.describe()

            random  interested_only        topic
count  2000.000000      2000.000000  2000.000000
mean      0.401552         0.592991     0.594924
std       0.067794         0.030094     0.030373
min       0.130019         0.519389     0.513783
25%       0.353272         0.570587     0.573545
50%       0.395898         0.590984     0.592668
75%       0.442719         0.613697     0.613829
max       0.647494         0.699921     0.723582

In [258]:

df.describe()

           random    top  topic
count  920.000000  920.0  920.0
mean     7.569565   10.0   10.0
std      0.853558    0.0    0.0
min      5.000000   10.0   10.0
25%      7.000000   10.0   10.0
50%      8.000000   10.0   10.0
75%      8.000000   10.0   10.0
max     10.000000   10.0   10.0