In [9]:
import json
import csv
import numpy as np
import matplotlib.pyplot as plt
import pickle
from collections import defaultdict
import pandas as pd
import os

In [2]:
# https://sites.google.com/eng.ucsd.edu/ucsdbookgraph/home
books_path = '../data_raw/goodreads_books_history_biography.json'
reviews_path = '../data_raw/goodreads_interactions_history_biography.json'
authors_path = '../data_raw/goodreads_book_authors.json'
series_path = '../data_raw/goodreads_book_series.json'
data_dir = '../data_raw/'

In [3]:
book_header = ['book_id', 'country_code', 'tags', 'series_title', 'series_description', 'title', 'title_without_series', 'average_rating', 'similar_books', 'description', 'authors', 'publisher', 'num_pages', 'publication_year', 'ratings_count']
review_header = ['user_id', 'book_id', 'review_id', 'is_read', 'rating', 'date_updated', 'review_text_incomplete']
author_header = ["author_id", "name"]

In [4]:
book_author = {}
with open(books_path) as j:
    for i, line in enumerate(j):
        
        line = json.loads(line)
        #print(line)
        #break
        book_id = line['book_id']
        r_counts = int(line["ratings_count"])
        average_rating = float(line["average_rating"])
        author_ids = [author['author_id'] for author in line['authors']]
        
        if r_counts >= 100 and average_rating >= 3.5:
            book_author[book_id] = author_ids
print(len(book_author))

71582

In [5]:
user_ratings = defaultdict(dict)

with open(reviews_path) as j:
    for i, line in enumerate(j):
        line = json.loads(line)
        #print(line)
        #break
        book_id = line['book_id']
        user_id = line['user_id']
        rating = line["rating"]
        user_ratings[user_id][book_id] = rating
        
print(len(user_ratings))

761215

In [6]:
user_book_rating = defaultdict(dict)

for i, book_rating in user_ratings.items():
    
    book_rating_valid = defaultdict(dict)
    for book, rating in book_rating.items():
        if book in book_author:
            book_rating_valid[book] = rating
            
    book_rating_nonzero = defaultdict(dict)
    for book, rating in book_rating_valid.items():
        if int(rating) != 0:
            book_rating_nonzero[book] = rating
            
    if len(book_rating_nonzero) > 50:
        user_book_rating[i] = book_rating_valid
print(len(user_book_rating))

45965

In [7]:
book_user_rating = defaultdict(dict)

for user, book_rating in user_book_rating.items():
    for book, rating in book_rating.items():
        book_user_rating[book][user] = rating
print(len(book_user_rating))

71217

In [10]:
with open(os.path.join(data_dir, 'book_user_rating.pickle'), 'wb') as handle:
    pickle.dump(book_user_rating, handle, protocol=pickle.HIGHEST_PROTOCOL)
with open(os.path.join(data_dir, 'user_book_rating.pickle'), 'wb') as handle:
    pickle.dump(user_book_rating, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [11]:
with open(os.path.join(data_dir, 'book_user_rating.pickle'), 'rb') as handle:
    book_user_rating = pickle.load(handle)
with open(os.path.join(data_dir, 'user_book_rating.pickle'), 'rb') as handle:
    user_book_rating = pickle.load(handle)

In [12]:
means = []
medians = []
stds = []
book_rating = {}
for b, u_r in book_user_rating.items():
    ratings = []

    for u, r in u_r.items():
        if int(r) != 0:
            ratings.append(r)
    med = np.median(ratings), 
    mean = np.mean(ratings)
    std = np.std(ratings)
    
    if mean > 3.5 and std > 0.75 and len(ratings) > 50:
        book_rating[b] = [med, mean, std]
        means.append(mean)
        medians.append(med)
        stds.append(std)
print(len(book_rating))

/home/dong/.conda/envs/reco_gpu/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2920: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/home/dong/.conda/envs/reco_gpu/lib/python3.6/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/home/dong/.conda/envs/reco_gpu/lib/python3.6/site-packages/numpy/core/_methods.py:140: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/home/dong/.conda/envs/reco_gpu/lib/python3.6/site-packages/numpy/core/_methods.py:110: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/home/dong/.conda/envs/reco_gpu/lib/python3.6/site-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

13521

In [13]:
with open(os.path.join(data_dir, 'book_rating_filtered.pickle'), 'wb') as handle:
    pickle.dump(book_rating, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [14]:
with open(os.path.join(data_dir, 'book_rating_filtered.pickle'), 'rb') as handle:
    book_rating = pickle.load(handle)

In [15]:
author_id_name = {}

with open(authors_path) as j:
    for i, line in enumerate(j):
        line = json.loads(line)
        author_id = line['author_id']
        author_name = line['name']
        author_id_name[author_id] = author_name

In [16]:
series_id_title_des = {}
with open(series_path) as j:
    for i, line in enumerate(j):
        line = json.loads(line)
        series_id = line['series_id']
        title = line['title']
        description = line['description']
        series_id_title_des[series_id] = {'title': '', 'des': ''}
        series_id_title_des[series_id]['title'] = title
        series_id_title_des[series_id]['des'] = description

In [17]:
def extract_tags(pairs):
    tags = []
    for pair in pairs:
        tag = pair['name']
        tags.append(tag)
    return tags

In [18]:
with open(reviews_path) as j:
    with open(os.path.join(data_dir, 'reviews_filtered.csv'), 'w', encoding='utf-8') as r:
        writer = csv.writer(r)
        for i, line in enumerate(j):
            line = json.loads(line)
            book_id = line['book_id']
            user_id = line['user_id']
            
            if i == 0:
                header = review_header
                writer.writerow(header)

            if book_id in book_rating.keys() and user_id in user_book_rating.keys():
                #print([line[key] for key in header ])
                writer.writerow([line[key] for key in header ])

In [19]:
with open(books_path) as j:
    with open(os.path.join(data_dir, 'books_filtered.csv'), 'w', encoding='utf-8') as r:
        writer = csv.writer(r)
        for i, line in enumerate(j):
            line = json.loads(line)
            book_id = line['book_id']
            series_ids = line['series']
            
            if i == 0:
                header = book_header
                writer.writerow(header)

            if book_id in book_rating.keys():
                content = []
                for key in header:
                    if key == "authors":
                        author_ids = [author['author_id'] for author in line['authors']]
                        content.append(author_ids)

                    elif key == 'tags':
                        content.append(extract_tags(line['popular_shelves']))
                    
                    elif key == 'series_title':
                        titles = []
                        for series_id in series_ids:
                            title = series_id_title_des[series_id]['title']
                            titles.append(title)
                        content.append(titles)

                    elif key == 'series_description':
                        dess = []
                        for series_id in series_ids:
                            des = series_id_title_des[series_id]['des']
                            dess.append(des)
                        content.append(dess)
                        
                    else:
                        content.append(line[key])
                    
                writer.writerow(content)

In [20]:
books = pd.read_csv(os.path.join(data_dir, 'books_filtered.csv'))
books.head()

,book_id,country_code,tags,series_title,series_description,title,title_without_series,average_rating,similar_books,description,authors,publisher,num_pages,publication_year,ratings_count
0,89377,US,"['to-read', 'historical-fiction', 'currently-r...",[],[],Penny from Heaven,Penny from Heaven,3.98,"['614054', '272343', '824934', '581383', '9359...",It's 1953 and 11-year-old Penny dreams of a su...,['137561'],Random House Books for Young Readers,288.0,2006.0,6949
1,780911,US,"['to-read', 'historical-fiction', 'currently-r...",[],[],The Crimson Petal and the White,The Crimson Petal and the White,3.87,"['1153738', '1038223', '92286', '10387214', '4...","""Michel Faber leads us back to 1870s London, w...",['16272'],Houghton Mifflin Harcourt,838.0,2002.0,681
2,958988,US,"['to-read', 'historical-romance', 'romance', '...",['Fire'],[''],"Princess of Fire (Fire, #1)","Princess of Fire (Fire, #1)",3.89,"['1224327', '2123409', '691005', '959223', '10...","""New York Times"" bestselling author Heather Gr...",['12935'],Zebra,507.0,1994.0,352
3,388674,US,"['to-read', 'mystery', 'historical-fiction', '...",['Ursula Blanchard'],"['Series of historical mysteries, set in the r...","To Shield the Queen (Ursula Blanchard, #1)","To Shield the Queen (Ursula Blanchard, #1)",3.72,"['612301', '713500', '166679', '27932', '43203...",In this compelling debut of her historical mys...,['33981'],Pocket Books,336.0,1998.0,1371
4,18711342,US,"['to-read', 'romance', 'historical-romance', '...",['Castles Ever After'],['A series featuring heroes and heroines who i...,"Romancing the Duke (Castles Ever After, #1)","Romancing the Duke (Castles Ever After, #1)",3.91,"['18143986', '11100750', '17290655', '13064395...",In the first in Tessa Dare's captivating Castl...,['2752928'],Avon,405.0,2014.0,1629

In [21]:
reviews = pd.read_csv(os.path.join(data_dir, 'reviews_filtered.csv'))
reviews.head()

,user_id,book_id,review_id,is_read,rating,date_updated,review_text_incomplete
0,8842281e1d1347389f2ab93d60773d4d,34467031,e66ba951e2147d34a275bd15c28aed11,False,0,Tue Sep 26 21:22:01 -0700 2017,NaN
1,8842281e1d1347389f2ab93d60773d4d,23168277,f795721339c198dc958e18dfca5f1e59,False,0,Wed May 31 08:10:01 -0700 2017,NaN
2,8842281e1d1347389f2ab93d60773d4d,5043,f2dd56e2ea9f2c88fb05a826b6afe95e,False,0,Wed Mar 29 00:26:51 -0700 2017,NaN
3,8842281e1d1347389f2ab93d60773d4d,31138556,db47e3c64280df37a5167ce5b2264dd4,False,0,Wed Mar 29 14:11:35 -0700 2017,NaN
4,8842281e1d1347389f2ab93d60773d4d,6480781,c8676124d8829874576fcb868af89315,True,5,Wed Mar 22 11:47:49 -0700 2017,NaN

In [22]:
len(reviews)

6792251

In [23]:
len(books)

13521