In [1]:
# import json
import csv
import numpy as np
import matplotlib.pyplot as plt
import pickle
from collections import defaultdict
import pandas as pd
import os

In [1]:
# https://sites.google.com/eng.ucsd.edu/ucsdbookgraph/home
books_path = '../data_raw/books_filtered.csv'
reviews_path = '../data_raw/reviews_filtered.csv'
data_dir = '../data_raw/'

# Basic Exploration

In [3]:
books = pd.read_csv(books_path)
print(len((books)))

13521

## Distribution of different features

In [4]:
books["average_rating"].describe()

count    13521.000000
mean         3.949656
std          0.195662
min          3.500000
25%          3.810000
50%          3.940000
75%          4.090000
max          4.760000
Name: average_rating, dtype: float64

In [5]:
books['publication_year'].describe()

count    11000.000000
mean      2005.319364
std          9.202143
min       1887.000000
25%       2001.000000
50%       2007.000000
75%       2012.000000
max       2017.000000
Name: publication_year, dtype: float64

In [6]:
books['country_code'].value_counts()

US    13521
Name: country_code, dtype: int64

In [7]:
books['num_pages'].describe()

count    11832.000000
mean       376.946586
std        239.081189
min          0.000000
25%        289.000000
50%        359.000000
75%        424.000000
max      14777.000000
Name: num_pages, dtype: float64

In [8]:
p = books['publisher'].apply(lambda x:str(x).split(' ')[0])
d = defaultdict(lambda: 0)
for key, counts in p.value_counts().items():
    d[counts] += 1
print(len(d))
d = defaultdict(lambda: 0)
for key, counts in books['publisher'].value_counts().items():
    d[counts] += 1
print(len(d), len(books['publisher'].value_counts()))

84
79 1712

## tags

In [9]:
tags = books['tags']

In [10]:
all_tags = defaultdict(lambda: 0)
for tag in tags:
    tags = [s[1:-1] for s in list(tag[1:-1].split(', '))]
    for tag in tags:
        all_tags[tag] += 1

In [11]:
all_tags = list(set(all_tags))
print(len(all_tags))

107400

In [12]:
# all_tags

## series and description

In [13]:
for idx, book in books.iterrows():
    print(book)
    title = book['title']
    description = book['description']
    s_title = book['series_title']
    s_description = book['series_description']
    print(title)
    print(description)
    print(s_title)
    print(s_description)
    break

book_id                                                             89377
country_code                                                           US
tags                    ['to-read', 'historical-fiction', 'currently-r...
series_title                                                           []
series_description                                                     []
title                                                   Penny from Heaven
title_without_series                                    Penny from Heaven
average_rating                                                       3.98
similar_books           ['614054', '272343', '824934', '581383', '9359...
description             It's 1953 and 11-year-old Penny dreams of a su...
authors                                                        ['137561']
publisher                            Random House Books for Young Readers
num_pages                                                             288
publication_year                                                     2006
ratings_count                                                        6949
Name: 0, dtype: object
Penny from Heaven
It's 1953 and 11-year-old Penny dreams of a summer of butter pecan ice cream, swimming, and baseball. But nothing's that easy in Penny's family. For starters, she can't go swimming because her mother's afraid she'll catch polio at the pool. To make matters worse, her favorite uncle is living in a car. Her Nonny cries every time her father's name is mentioned. And the two sides of her family aren't speaking to each other!
Inspired by Newbery Honor winner Jennifer Holm's own Italian American family, Penny from Heaven is a shining story about the everyday and the extraordinary, about a time in America's history, not all that long ago, when being Italian meant that you were the enemy. But most of all, it's a story about families--about the things that tear them apart and bring them together. And Holm tells it with all the richness and the layers, the love and the laughter of a Sunday dinner at Nonny's. So pull up a chair and enjoy the feast! Buon appetito!
[]
[]

# Clean books

In [14]:
books['summary'] =  books['title'] + '. ' + books['description'] + '.' + books['series_description'][1:-1]
books['publisher'] = books['publisher'].apply(lambda x:str(x).split(' ')[0])
book_header = ['book_id', 'summary', 'similar_books', 'authors', 'country_code', 'num_pages', 'publication_year', 'ratings_count', 'average_rating']
books_cleaned = books[book_header]
books_cleaned.to_csv(os.path.join(data_dir, 'books_cleaned.csv'), index=False)

In [15]:
books_cleaned.head()

,book_id,summary,similar_books,authors,country_code,num_pages,publication_year,ratings_count,average_rating
0,89377,NaN,"['614054', '272343', '824934', '581383', '9359...",['137561'],US,288.0,2006.0,6949,3.98
1,780911,"The Crimson Petal and the White. ""Michel Faber...","['1153738', '1038223', '92286', '10387214', '4...",['16272'],US,838.0,2002.0,681,3.87
2,958988,"Princess of Fire (Fire, #1). ""New York Times"" ...","['1224327', '2123409', '691005', '959223', '10...",['12935'],US,507.0,1994.0,352,3.89
3,388674,"To Shield the Queen (Ursula Blanchard, #1). In...","['612301', '713500', '166679', '27932', '43203...",['33981'],US,336.0,1998.0,1371,3.72
4,18711342,"Romancing the Duke (Castles Ever After, #1). I...","['18143986', '11100750', '17290655', '13064395...",['2752928'],US,405.0,2014.0,1629,3.91

# Clean reviews

In [16]:
reviews = pd.read_csv(reviews_path)
print(len((reviews)))

6792251

In [17]:
reviews_header = ['user_id', 'book_id', 'rating', 'time']#, 'publisher', 'num_pages', 'publication_year']
reviews['time'] = reviews['date_updated']
reviews_cleaned = reviews[reviews_header]
reviews_cleaned.to_csv(os.path.join(data_dir, 'reviews_cleaned.csv'), index=False)

In [18]:
reviews_cleaned.head()

,user_id,book_id,rating,time
0,8842281e1d1347389f2ab93d60773d4d,34467031,0,Tue Sep 26 21:22:01 -0700 2017
1,8842281e1d1347389f2ab93d60773d4d,23168277,0,Wed May 31 08:10:01 -0700 2017
2,8842281e1d1347389f2ab93d60773d4d,5043,0,Wed Mar 29 00:26:51 -0700 2017
3,8842281e1d1347389f2ab93d60773d4d,31138556,0,Wed Mar 29 14:11:35 -0700 2017
4,8842281e1d1347389f2ab93d60773d4d,6480781,5,Wed Mar 22 11:47:49 -0700 2017